* {
  line-height: 1.5;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}
img {
    /* height: auto; */
  width: 300px;
}

h1 {
  color: rgb(255,50,50,0.8);
  font-family: 'Garamond', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.recipe-card {
  width: 500px;
  text-align: center;
  border: 5px solid darkblue;
  margin: 0 auto;
  padding: 0 20px;
  background-color: greenyellow;
}
.recipe-card p {
  text-align: left;
}
.recipe-card a {
    background-color: #fc9400;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 6px;
}
h1,
a {
  text-align: center;
  text-transform: uppercase;
}

.home-link{
  display: block;
  text-decoration: none;
  font-weight: 700;
}
.first-p.pres{
    color: rgb(42, 25, 58);
}

ul h2,
li h2 {
    font-size: 16px;
}
ol, ul {
  padding: 0;
  list-style-position: inside;
}

ul {
  list-style: none;
}

ol h2 {
  margin-bottom: 10px;
}
